@import "tailwindcss";

/* Portfolio */
.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 100%;
  display: inline-block;

}

.project-image {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  margin-bottom: 10px;

}
.project-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}